.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

p {
  margin-left: 5%;
}
